.review {
  width: 100%;
  height: 100vh;
  padding: 70px 0;
}

.review h1 {
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review h1 span {
  margin-left: 15px;
  color: #fac031;
  font-family: mv boli;
}

.review h1 span::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fac031;
  position: relative;
  bottom: 15px;
  display: block;
}

.review-card-container {
  width: 95%;
  margin: 70px auto;
  display: flex;
}

.review-card {
  width: 350px;
  height: 535px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 0.5rem 1.25rem;
  margin: 0 0.5rem;
}

.review-user-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}
.review-user-image :hover {
  transform: translateY(-60px);
}

.review-user-image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 5px solid #cccccc;
}

.review-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-info h2 {
  transition: 0.3s;
  color: black;
}

.review-card:hover .review-info h2 {
  transform: translateY(-50px);
}

.review-rating {
  color: #fac031;
  transition: 0.3s;
}

.review-card:hover .review-rating {
  transform: translateY(-50px);
}

.review-user-social-icons {
  margin: 5px 1px;
  font-size: 15px;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}

.review-user-social-icons:hover {
  opacity: 1;
  transform: translateY(-8px);
}

.reviews {
  text-align: center;
  line-height: 22px;
  margin-top: 5px;
}
