.signup {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/bg1.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  height: 500px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2rem;
  background-color: #ffff;
}

.form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1.5rem;
}

.user-input-container label {
  font-weight: 700;
}

.user-input-container input {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: 1px solid gray;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: rgb(61, 61, 59);
  color: #ffff;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.login-box {
  width: 100%;
  text-align: center;
  margin-top: 0.25rem;
}

.login-box span {
  color: gray;
}

.login-box span a {
  font-weight: 600;
  margin-left: 4px;
}
