* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100vw;
  height: min-content;
  background-color: cadetblue;
  color: black;
}
