* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: #fac031;
  border-radius: 6px;
}
